@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("https://manybackgrounds.com/images/hd/starry-night-sky-dark-aesthetic-ro6a8cda8gg0zoil.jpg");
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

.text-center {
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

.text {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}

.box {
    max-height: 85vh;
    /* Adjust this value based on your design */
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 3px;
    padding: 50px 100px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    text-align: center;
}

.input-container {
    position: relative;
    margin-bottom: 25px;
    margin-top: 25px;
    color: white;
}

    .input-container input,
    .input-container textarea {
        border: 0;
        border-bottom: 1px solid #555;
        border-top: 1px solid #555;
        border-left: 1px solid #555;
        border-right: 1px solid #555;
        border-radius: 3pt;
        background: transparent;
        width: 100%;
        font-size: 16px;
        color: #fff;
        resize: none;
        height: 100px;
    }

        .input-container input:focus,
        .input-container textarea:focus {
            border: none;
            outline: none;
            border-bottom: 3px solid #e74c3c;
            border-top: 3px solid #e74c3c;
            border-left: 3px solid #e74c3c;
            border-right: 3px solid #e74c3c;
            border-radius: 3pt;
        }

.btn {
    color: #fff;
    background-color: #e74c3c;
    outline: none;
    border: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: #dd2b17;
    }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #ccc;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-r-5 {
    padding-right: 8px;
}

.p-l-5 {
    padding-left: 8px;
}
